/* here you can put your own css to customize and override the theme */
.page-header {background:#2f3f4f !important; border-bottom:none !important;}
.dropdown-toggle, .dropdown-toggle:hover {background:#2f3f4f !important;}
.dropdown-user > p {margin:22px 0 10px 0 !important;}
.username {color:#EBEBEB !important; font-weight:400;}
.page-logo > a {color:#EBEBEB !important; font-size:14px; font-weight:700; text-decoration:none !important;}
.page-logo > a > span {display:inline-block; vertical-align:-12px; color:#EBEBEB !important; font-size:14px; font-weight:700; text-decoration:none !important;}
.page-top {height:55px !important; background:#2f3f4f !important;}
.username {display:inline-block; color:#FFFFFF; font-size:12px;}
.logintime {display:none;}
.page-header .page-header-inner .menu-toggler {background-image: url('./assets/layouts/img/sidebar-toggle-light.png');}


/* 회원분석 */
.analysis-top-category {height:45px; margin:10px 0 10px 0; padding:0 0 10px 0; border-bottom:1px solid #DDDDDD;}
.analysis-top-category-button {float:left; top:40px; left:0;}
.analysis-top-detail {float:right; top:40px; right:0;}
.analysis-pd-bottom-11 {padding-bottom:11px;}
.analysis-p-title {padding:0 0 0 20px;}
.analysis-period-search {float:right; text-align:right; padding-bottom:0px; margin:0 10px 0 0px;}
.analysis-detail-box {margin:0px 15px 25px 15px;}
.analysis-detail-table {margin:10px 0 0 0 !important; padding:0px; border-top:1px solid #EBEBEB !important; border-bottom:1px solid #EBEBEB !important;}

/* FAQ */
.faq-line-top {border-top:1px solid #EBEBEB !important; padding-top:5px;}
.faq-line-bottom {border-bottom:1px solid #EBEBEB !important; padding-bottom:5px;}
.faq-q-title {font-size:14px !important;}
.faq-a-desc {background:none !important; padding-left:0px !important;}

/* Setting */
.portlet-title {border-bottom:none !important;}
.setting-desc {font-size:11px; color:#999999; margin-left:7px;}
.table-top-border {border-top:1px solid #EBEBEB !important; border-bottom:1px solid #EBEBEB !important;}


. text-align-center {text-align:center !important;}

@media (min-width: 992px){
	.dropdown-user > p {margin:22px 0 18px 0 !important;}
	.page-sidebar .page-sidebar-menu {margin-bottom: 0px;}
	.page-top {background:#2f3f4f !important;}
	.username {display:inline-block; color:#FFFFFF; font-size:12px;}
	.logintime {display:inline-block; color:#FFFFFF; font-size:12px;}
}


@media (max-width: 991px){
.page-top {height:55px !important; background:#2f3f4f !important;}
}


@media (max-width: 768px){
.page-top {height:55px !important; background:#4f5c6f !important;}
.dropdown-user > p {margin:10px 0 10px 0 !important;}
}